html{
  width: 100%;
  height: 100%;
  margin: 0;
  color: aliceblue;
  background: linear-gradient(60deg, #C3A390, #97705B);
  background-position: top center;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 0;
}

body {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}
/* Header */
header {
  width: 100%;
  height: 45px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BB917B;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);  margin-top: 10px;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 

}

/* Main Content */
section {
  text-align: left;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 40px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
}