.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.popup {
  background: linear-gradient(60deg, #C3A390, #97705B);
  color: white;
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 18px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);  margin-top: 10px;
  text-align: center;
}
